body {
    background-color: #151a33;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}


/*
hr
{
  height: 1px;
  width: 80px;
}
 */

@media screen and (max-width: 420px) {
    .education-details {
        font-size: 10px;
        text-align: left !important;
        margin-bottom: 4%;
    }
    .tiet-logo {
        display: none !important;
    }
    .dps-logo {
        display: none !important;
    }
    .codify-logo {
        display: none !important;
    }
    .edc-logo {
        display: none !important;
    }
    .tmf-logo {
        display: none !important;
    }
    /* .mobile-view-logos
  { display:block !important;
    text-align: left !important;
  }

  .tiet-logo-2
  {
    display: inline-block;
    max-width:30%;
    padding-left: 0;
  }

  .tmf-logo-2
  {
    display: inline;
    max-width:30%;
    padding-left: 0;
  }

  .edc-logo-2
  {
    display: inline-block;
    max-width:30%;
    padding-left: 0;
  }

  .codify-logo-2
  {
    display: inline;
    max-width:30%;
    padding-left: 0;
  }

  .dps-logo-2
  {
    display: ;
    max-width:30%;
    padding-left: 0;
  } */
}

.main-box {
    margin: 2% auto;
    border-radius: 2%;
    background-color: #202A44;
    width: 70%;
}

.name-heading {
    padding-top: 3%;
    padding-bottom: 0;
}

.profile-picture {
    max-width: 100%;
    border-radius: 100%;
}

.description {
    font-size: 0.8rem;
}


/*
.tiet-logo
{ padding: 2%;
  align-items: center;
  justify-content: center;
} */

.contact-details {
    text-align: left;
    font-size: 0.8rem;
    padding: 1%;
}

.card {
    background-color: #202A44;
}

.education-container {
    margin: 2% 0;
    text-align: left !important;
}

.education-container {
    padding: 0;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 2%;
}

.education-header {
    padding: 0;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 2%;
}

.education-details {
    text-align: left !important;
    margin-bottom: 4%;
}

.education-degree {
    font-size: 12px;
}

.tiet-logo {
    display: inline;
    max-width: 80%;
    padding-left: 0;
}

.codify-logo {
    display: inline;
    max-width: 80%;
    padding-left: 0;
}

.edc-logo {
    display: inline;
    max-width: 35%;
    padding-left: 0;
}

.tmf-logo {
    display: inline;
    max-width: 60%;
    padding-left: 0;
}

.dps-logo {
    display: inline;
    max-width: 100%;
    padding-left: 0;
}


/*
.mobile-view-logos
{
  display: none;
} */

.card-website-image {
    opacity: 0.7;
    overflow: hidden;
    transform: scale(1);
}

.card-website-image:hover {
    opacity: 1;
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
    overflow: hidden !important;
    max-width: 100%;
    height: auto;
}

.card-text {
    color: #fff;
}

.skill-container {
    margin: 4% 0;
    text-align: left !important;
}

.skill-details {
    text-align: left !important;
    margin-bottom: 4%;
}

.technical-specifications {
    font-size: 12px;
}

.btn-brown {
    background-color: #5C4033;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.certifications-container {
    margin: 4% 0;
    text-align: left !important;
}

.certificate-card {
    border-radius: 0.25rem;
    background-color: #202A44;
    height: 107px;
    max-width: 100%;
}

.certifications-details {
    text-align: left !important;
    margin-bottom: 4%;
}

.certificate-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 0.6;
}

.certificate-text {
    padding: 2%;
}

.footer {
    padding: 2% 0;
    background-color: #202A44;
}

.footer-name {
    padding: 3% 5%;
    align-items: center;
    justify-content: center;
}

.form-group {
    padding: 10px;
    border-radius: 4px;
    background: transparent !important;
    border: 1px solid;
    border-color: #fff;
    color: var(--ternary);
    font-size: 16px;
    max-width: 100%;
}

.progress-bar-container {
    padding: 2% 5% 0 0;
}

.progress {
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress:before,
.progress:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}

.progress:after {
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}

.progress .progress-bar {
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}

.progress .progress-value {
    width: 35px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

.progress.blue:before {
    border: 7px solid #1a4966;
}

.progress.green:before {
    border: 7px solid #53aa2c;
}

.progress.blue .progress-value {
    border: 5px solid #1a4966;
    color: #1a4966;
}

.progress.green .progress-value {
    border: 5px solid #53aa2c;
    color: #53aa2c;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}